body{background-color: #EBE6E6;

}


header h1 .img{
    margin: auto;
    display: flex;
    max-width: inherit;
    width: inherit;
}

h2{ color:#0e0e0e;text-align:center;
    font-family: 'Urbanist', sans-serif; 
    text-decoration: none;
    font-size: 50px;
    padding: 50px 20px 20px 20px;
    
    
}
main a .Icon1{
    margin:auto;
}

h2:hover{
    color: aquamarine;
}
main a .icon1{
    display: flex;
    padding: auto;
}

footer{
    color: #0e0e0e;
        font-family:'Urbanist', sans-serif;
        font-size: 10px;
        margin-top: 5px;

}

 
.ticket {
    border-top: 1px solid black;
    border-collapse: collapse;
    color: rgb(42, 187, 187);
    width: 155px;
    max-width: 155px;
    
}



.centrado {
    text-align: center;
    align-content: center;
}


    


@media print {
    .noPrint{
      display:none;
    }
  }
  .ticket{
    color:#f6f6;
  }